:root {
  --primary-bg-colour: white;
  --secondary-bg-colour: #e3f6f5;
  --nav-bg-colour: #bae8e8;
  --primary-font-colour: #272343;
  --secondary-font-colour: #163172;
}

body {
  background-color: var(--primary-bg-colour);
  font-family: "Poppins", sans-serif;
  color: var(--primary-font-colour);
  padding-top: 56px;
  max-width: 1500px;
  margin: 0 auto;
}

h1 {
  font-size: 85px;
  font-weight: 800;
  line-height: 80px;
  color: var(--secondary-font-colour);
}
h2 {
  font-size: 48px;
  line-height: 48px;
  padding: 20px;
}
h3 {
  font-size: 28px;
  line-height: 28px;
  margin: 0;
}

h5 {
  font-size: 20px;
  color: var(--secondary-font-colour);
  opacity: 0.7;
}

footer {
  margin-top: 20px;
  background-color: var(--secondary-bg-colour);
  text-align: center;
  line-height: 1;
}
footer .icons {
  font-size: 20px;
}

footer a {
  color: var(--secondary-font-colour);
  text-decoration: none;
}
footer a:hover {
  color: var(--primary-font-colour);
}

.hero {
  background-color: var(--secondary-bg-colour);
}

.pic {
  background-image: url(/images/portrait.jpeg);
  background-size: auto 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.primary-button {
  background-color: var(--primary-bg-colour);
  border: 1px solid #272142;
}
.secondary-button {
  background-color: var(--secondary-font-colour);
  color: var(--primary-bg-colour);
  border: 1px solid #272142;
}

.contact a {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--secondary-font-colour);
  text-decoration: none;
}
.contact a:hover {
  opacity: 0.5;
}

.nav-bg {
  background-color: var(--secondary-font-colour);
}

.coded-by {
  font-family: monospace;
  font-size: 8;
}

@media (max-width: 1130px) {
  h1 {
    font-size: 70px;
    line-height: 65px;
  }
  h5 {
    font-size: 15px;
  }
}

@media (max-width: 950px) {
  h1 {
    font-size: 55px;
    line-height: 50px;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 40px;
    line-height: 38px;
  }
}
